apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
      - name: pihole
        image: pihole/pihole:latest
        ports:
        - name: dns-tcp
          containerPort: 53
          protocol: TCP
        - name: dns-udp
          containerPort: 53
          protocol: UDP
        - name: http
          containerPort: 80
          protocol: TCP
        env:
        - name: TZ
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: TZ
        - name: WEBPASSWORD
          valueFrom:
            secretKeyRef:
              name: pihole-secret
              key: WEBPASSWORD
              optional: true
        - name: PIHOLE_DNS_
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: PIHOLE_DNS_
        - name: DNSSEC
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: DNSSEC
        - name: DNSMASQ_LISTENING
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: DNSMASQ_LISTENING
        - name: VIRTUAL_HOST
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: VIRTUAL_HOST
        - name: ServerIP
          valueFrom:
            configMapKeyRef:
              name: pihole-config
              key: ServerIP
        volumeMounts:
        - name: pihole-data
          mountPath: /etc/pihole
        - name: pihole-dnsmasq
          mountPath: /etc/dnsmasq.d
        - name: dnsmasq-custom-config
          mountPath: /etc/dnsmasq.d/99-custom.conf
          subPath: 99-custom.conf
          readOnly: true
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      volumes:
      - name: pihole-data
        persistentVolumeClaim:
          claimName: pihole-data
      - name: pihole-dnsmasq
        emptyDir: {}
      - name: dnsmasq-custom-config
        configMap:
          name: pihole-dnsmasq-custom
      dnsPolicy: "None"
      dnsConfig:
        nameservers:
          - "1.1.1.1"
          - "1.0.0.1"

