apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: pihole-pool
  namespace: metallb-system
spec:
  addresses:
  - 192.168.178.10/32
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: pihole-l2adv
  namespace: metallb-system
spec:
  ipAddressPools:
  - pihole-pool

