apiVersion: v1
kind: Service
metadata:
  name: pihole
  namespace: pihole
  annotations:
    metallb.universe.tf/loadBalancerIPs: "192.168.178.10"
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.178.10
  ports:
  - name: dns-tcp
    port: 53
    targetPort: 53
    protocol: TCP
  - name: dns-udp
    port: 53
    targetPort: 53
    protocol: UDP
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: pihole
  sessionAffinity: None

