apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "35"
  name: grafana
  namespace: monitoring
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: grafana
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-11-09T13:53:39+01:00"
      labels:
        app: grafana
    spec:
      containers:
      - env:
        - name: GF_SECURITY_ADMIN_USER
          value: admin
        - name: GF_SECURITY_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: admin-password
              name: grafana-secrets
        image: grafana/grafana:10.2.2
        imagePullPolicy: IfNotPresent
        name: grafana
        ports:
        - containerPort: 3000
          protocol: TCP
        resources:
          limits:
            memory: 512Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/lib/grafana
          name: grafana-storage
        - mountPath: /etc/grafana/provisioning/datasources
          name: grafana-datasources
          readOnly: true
        - mountPath: /etc/grafana/provisioning/dashboards
          name: dashboard-provisioning
          readOnly: true
        - mountPath: /var/lib/grafana/dashboards
          name: dashboards
        - mountPath: /var/lib/grafana/dashboards/prometheus-stats.json
          name: dashboard-prometheus-stats
          readOnly: true
          subPath: prometheus-stats.json
        - mountPath: /var/lib/grafana/dashboards/infrastructure-overview.json
          name: dashboard-infrastructure-overview
          readOnly: true
          subPath: infrastructure-overview.json
        - mountPath: /var/lib/grafana/dashboards/argocd-overview.json
          name: dashboard-argocd-overview
          readOnly: true
          subPath: argocd-overview.json
        - mountPath: /var/lib/grafana/dashboards/coredns-overview.json
          name: dashboard-coredns-overview
          readOnly: true
          subPath: coredns-overview.json
        - mountPath: /var/lib/grafana/dashboards/alertmanager.json
          name: dashboard-alertmanager
          readOnly: true
          subPath: alertmanager.json
        - mountPath: /var/lib/grafana/dashboards/node-exporter.json
          name: dashboard-node-exporter
          readOnly: true
          subPath: node-exporter.json
        - mountPath: /var/lib/grafana/dashboards/kubernetes-cluster.json
          name: dashboard-kubernetes-cluster
          readOnly: true
          subPath: kubernetes-cluster.json
        - mountPath: /var/lib/grafana/dashboards/nginx-ingress.json
          name: dashboard-nginx-ingress
          readOnly: true
          subPath: nginx-ingress.json
        - mountPath: /var/lib/grafana/dashboards/cert-manager.json
          name: dashboard-cert-manager
          readOnly: true
          subPath: cert-manager.json
        - mountPath: /var/lib/grafana/dashboards/velero.json
          name: dashboard-velero
          readOnly: true
          subPath: velero.json
        - mountPath: /var/lib/grafana/dashboards/resource-usage.json
          name: dashboard-resource-usage
          readOnly: true
          subPath: resource-usage.json
        - mountPath: /var/lib/grafana/dashboards/services-overview.json
          name: dashboard-services-overview
          readOnly: true
          subPath: services-overview.json
        - mountPath: /var/lib/grafana/dashboards/replicaset-overview.json
          name: dashboard-replicaset-overview
          readOnly: true
          subPath: replicaset-overview.json
        - mountPath: /var/lib/grafana/dashboards/daemonset-overview.json
          name: dashboard-daemonset-overview
          readOnly: true
          subPath: daemonset-overview.json
        - mountPath: /var/lib/grafana/dashboards/statefulset-overview.json
          name: dashboard-statefulset-overview
          readOnly: true
          subPath: statefulset-overview.json
        - mountPath: /var/lib/grafana/dashboards/pvc-overview.json
          name: dashboard-pvc-overview
          readOnly: true
          subPath: pvc-overview.json
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - name: grafana-storage
        persistentVolumeClaim:
          claimName: grafana-data
      - configMap:
          defaultMode: 420
          name: grafana-datasources
        name: grafana-datasources
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-provisioning
        name: dashboard-provisioning
      - name: dashboards
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-prometheus-stats
        name: dashboard-prometheus-stats
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-infrastructure-overview
        name: dashboard-infrastructure-overview
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-argocd-overview
        name: dashboard-argocd-overview
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-coredns-overview
        name: dashboard-coredns-overview
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-alertmanager
        name: dashboard-alertmanager
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-node-exporter
        name: dashboard-node-exporter
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-kubernetes-cluster
        name: dashboard-kubernetes-cluster
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-nginx-ingress
        name: dashboard-nginx-ingress
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-cert-manager
        name: dashboard-cert-manager
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-velero
        name: dashboard-velero
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-resource-usage
        name: dashboard-resource-usage
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-services-overview
        name: dashboard-services-overview
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-replicaset-overview
        name: dashboard-replicaset-overview
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-daemonset-overview
        name: dashboard-daemonset-overview
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-statefulset-overview
        name: dashboard-statefulset-overview
      - configMap:
          defaultMode: 420
          name: grafana-dashboard-pvc-overview
        name: dashboard-pvc-overview
