apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  clusterIP: 10.106.120.235
  clusterIPs:
  - 10.106.120.235
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 3000
  selector:
    app: grafana
