apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n
  namespace: argocd
  labels:
    app: n8n
spec:
  project: default
  source:
    repoURL: https://github.com/bernd-lab/heimnetzwerk-infra.git
    targetRevision: main
    path: k8s/n8n
  destination:
    server: https://kubernetes.default.svc
    namespace: n8n
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
  revisionHistoryLimit: 10

