apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: monitoring
spec:
  clusterIP: 10.105.130.254
  clusterIPs:
  - 10.105.130.254
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 9090
  selector:
    app: prometheus
