apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-discord-webhook
  namespace: monitoring
type: Opaque
stringData:
  webhook_url: "https://discord.com/api/webhooks/1434373123225948180/fI_jDJabe9f9DRy1WKAzL4E5CevlToCrprF7kb-_icM2DMa7sUFu6vVMJ4iZGxH47OUs"

