apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '8'
    kubectl.kubernetes.io/last-applied-configuration: '{"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"plantuml","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"plantuml"}},"template":{"metadata":{"labels":{"app":"plantuml"}},"spec":{"containers":[{"image":"plantuml/plantuml-server:latest","name":"plantuml","ports":[{"containerPort":8080}]}]}}}}

      '
  name: plantuml
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: plantuml
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: plantuml
    spec:
      containers:
      - image: plantuml/plantuml-server:latest
        imagePullPolicy: Always
        name: plantuml
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          limits:
            memory: 512Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
